* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.pos-relative {
  position: relative;
}

.sidebar-hamburger {
  position: absolute;
  left: 15px;
  top: 20px;
}

.default-button {
  user-select: none;
}

.image-ratio {
  aspect-ratio: 3/2;
}

.container {
  padding: 1.25em 15.625em;
}

@media (min-width: 2499px) {
  .container {
    padding: 1.25em 46.625em;
  }
}
